@@if (environment === 'production') {
@@include('./_analytics-body.html')
}

<header class="header-global mb-2">
  <nav id="navbar-main" aria-label="Primary navigation"
    class="navbar navbar-main navbar-expand-lg headroom @@classes">
    <div class="container position-relative">
      <a class="navbar-brand me-lg-5" href="@@path/index.html">
        <img class="navbar-brand-dark" src="@@path/assets/img/brand/lightv.svg" alt="Logo light">
        <!-- <img class="navbar-brand-light" src="@@path/assets/img/brand/dark.svg" alt="Logo dark"> -->
      </a>
      <div class="navbar-collapse collapse me-auto justify-content-around" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="@@path/index.html">
                <img src="@@path/assets/img/brand/lightv.svg" alt="logo">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <a href="#navbar_global" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#navbar_global"
                aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
            </div>
          </div>
        </div>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li class="nav-item">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><span class="fas fa-search"></span></span>
                <input type="text" class="form-control" id="exampleInputIconLeft" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
            </div>
          </li>
          <li class="nav-item"><a href="@@path/index.html" class="nav-link">INÍCIO</a></li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="dashboardDropdown" aria-expanded="false"
              data-bs-toggle="dropdown">
              MODELOS
              <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
            </a>
            <div class="dropdown-menu dropdown-megamenu-sm px-0 py-2 p-lg-4" aria-labelledby="dashboardDropdown">
              <div class="row">
                <div class="col-6">
                  <h6 class="d-block mb-3 text-primary">MASCULINO</h6>
                  <ul class="list-style-none mb-4">
                    <li class="mb-2 megamenu-item">
                      <a class="megamenu-link"
                        href="https://demo.themesberg.com/pixel-pro/v5/html/dashboard/account.html" target="_blank">My
                        account <span class="badge bg-tertiary">Pro</span></a>
                    </li>
                    <li class="mb-2 megamenu-item">
                      <a class="megamenu-link"
                        href="https://demo.themesberg.com/pixel-pro/v5/html/dashboard/settings.html"
                        target="_blank">Settings <span class="badge bg-tertiary">Pro</span></a>
                    </li>
                    <li class="mb-2 megamenu-item">
                      <a class="megamenu-link"
                        href="https://demo.themesberg.com/pixel-pro/v5/html/dashboard/security.html"
                        target="_blank">Security <span class="badge bg-tertiary">Pro</span></a>
                    </li>
                  </ul>
                  <h6 class="d-block mb-3 text-primary">Items</h6>
                  <ul class="list-style-none">
                    <li class="mb-2 megamenu-item">
                      <a class="megamenu-link"
                        href="https://demo.themesberg.com/pixel-pro/v5/html/dashboard/my-items.html" target="_blank">My
                        items <span class="badge bg-tertiary">Pro</span></a>
                    </li>
                    <li class="mb-2 megamenu-item">
                      <a class="megamenu-link"
                        href="https://demo.themesberg.com/pixel-pro/v5/html/dashboard/edit-item.html"
                        target="_blank">Edit item <span class="badge bg-tertiary">Pro</span></a>
                    </li>
                  </ul>
                </div>
                <div class="col-6">
                  <h6 class="d-block mb-3 text-primary">FEMININO</h6>
                  <ul class="list-style-none mb-4">
                    <li class="mb-2 megamenu-item">
                      <a class="megamenu-link"
                        href="https://demo.themesberg.com/pixel-pro/v5/html/dashboard/messages.html"
                        target="_blank">Messages <span class="badge bg-tertiary">Pro</span></a>
                    </li>
                    <li class="mb-2 megamenu-item">
                      <a class="megamenu-link"
                        href="https://demo.themesberg.com/pixel-pro/v5/html/dashboard/single-message.html"
                        target="_blank">Chat <span class="badge bg-tertiary">Pro</span></a>
                    </li>
                  </ul>
                  <h6 class="d-block mb-3 text-primary">Billing</h6>
                  <ul class="list-style-none mb-4">
                    <li class="mb-2 megamenu-item">
                      <a class="megamenu-link"
                        href="https://demo.themesberg.com/pixel-pro/v5/html/dashboard/billing.html"
                        target="_blank">Billing details <span class="badge bg-tertiary">Pro</span></a>
                    </li>
                    <li class="mb-2 megamenu-item">
                      <a class="megamenu-link"
                        href="https://demo.themesberg.com/pixel-pro/v5/html/dashboard/invoice.html"
                        target="_blank">Invoice <span class="badge bg-tertiary">Pro</span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="marks" aria-expanded="false"
              data-bs-toggle="dropdown">
              MARCAS
              <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
            </a>
            <div class="dropdown-menu dropdown-megamenu-md p-0" aria-labelledby="marks">
              <div class="row g-0">
                <div class="col-lg-6 bg-white d-none d-lg-block me-0 me-3">
                  <div class="px-0 py-3 text-center">
                    <img src="@@path/assets/img/young-girl-glasses-smiling-winking-pointing.png" alt="Pixel Components">
                  </div>
                </div>
                <div class="col ps-0 py-3">
                  <ul class="list-style-none">
                    <li class="mb-2 megamenu-item"><a class="mega-link" href="@@path/html/components/accordions.html">Ray-Ban</a></li>
                    <li class="mb-2 megamenu-item"><a class="mega-link" href="@@path/html/components/alerts.html">Prada </a></li>
                    <li class="mb-2 megamenu-item"><a class="mega-link" href="@@path/html/components/badges.html">Vogue</a></li>
                    <li class="mb-2 megamenu-item"><a class="mega-link" href="@@path/html/components/cards.html">Evoke</a></li>
                    <li class="mb-2 megamenu-item"><a class="mega-link"
                        href="https://demo.themesberg.com/pixel-pro/v5/html/components/charts.html"
                        target="_blank">Carrera <span class="badge bg-tertiary">Pro</span></a></li>
                    <li class=""><a class="" href="@@path/html/components/bootstrap-carousels.html">Ana Hickmenn</a>
                    </li>
                  </ul>
                </div>
                <div class="col ps-0 py-3">
                  <ul class="list-style-none">
                    <li class="mb-2 megamenu-item"><a class="mega-link" href="@@path/html/components/dropdowns.html">Calvin Klein</a></li>
                    <li class="mb-2 megamenu-item"><a class="mega-link"
                        href="https://demo.themesberg.com/pixel-pro/v5/html/components/e-commerce.html"
                        target="_blank">Dior <span class="badge bg-tertiary">Pro</span></a></li>
                    <li class="mb-2 megamenu-item"><a class="mega-link" href="@@path/html/components/forms.html">HB</a></li>
                    <li class="mb-2 megamenu-item"><a class="mega-link"
                        href="https://demo.themesberg.com/pixel-pro/v5/html/components/icon-boxes.html"
                        target="_blank">Oakley <span class="badge bg-tertiary">Pro</span></a></li>
                    <li class="mb-2 megamenu-item"><a class="mega-link" href="@@path/html/components/breadcrumbs.html">Chilli Beans</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center d-flex gap-4">
          <li class="nav-item @@if(context.cart === 'cart') {dropdown}">
            <a href="#" class="nav-link dropdown-toggle fa-solid fa-cart-shopping p-3 fz-4"></a>
            <div class="dropdown-menu dropdown-megamenu-md p-0" aria-labelledby="Cart payment">
              <div class="row g-0">
                <!-- Empt -->
              </div>
            </div>
          </li>
          <li class="nav-item @@if(context.wish_list === 'wish_list') {dropdown}">
            <a href="#" class="nav-link dropdown-toggle fa-solid fa-heart p-3 fz-4"></a>
            <div class="dropdown-menu dropdown-megamenu-md p-0" aria-labelledby="Wish list">
              <div class="row g-0">
                <!-- Empt -->
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle fa-regular fa-circle-user p-3 fz-4" id="sign-in" aria-expanded="false"
              data-bs-toggle="dropdown"></a>
              <div class="dropdown-menu dropdown-megamenu-md p-0" aria-labelledby="sign-in">
                  @@include('../html/sign-in.html')
              </div>
          </li>
        </ul>
      </div>
      <div class="d-flex align-items-center">
        
        <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_global"
          aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </nav>
</header>
<!-- vendor/@fortawesome/fontawesome-free/svgs/solid/cart-plus.svg -->